---
import { Image } from "astro:assets";
import chap5AddMainImg from '../../assets/chap5AddMain2ContentEng.png';
import chap5AddMainContentMB from '../../assets/chap5AddMain2ContentEngMB.png';
---
<section class="chap5add-main">
    <div class="container">
        <div class="ex-wrap">
            <div class="ex-img" data-aos="fade-up">
                <Image src={chap5AddMainImg} alt="" />
            </div>
        </div>
        <div class="ex-wrap ex-mb">
            <div class="ex-img" data-aos="fade-up">
                <Image src={chap5AddMainContentMB} alt="" />
            </div>
        </div>
    </div>
</section>
<section class="chap5add-main2">
    <div class="container">
        <div class="ex-wrap">
        </div>
    </div>
</section>
<style lang="scss">
    
</style>