---
import { Image } from "astro:assets";
import chap5AddHeroImg from '../../assets/chap5AddHeroImg.png';
import chap5AddHeroContent from '../../assets/chap5AddHeroContent.svg?raw';
import chap5AddHeroContentMB from '../../assets/chap5AddHeroContentMB.svg?raw';
---
<section class="chap5add-hero">
    <div class="container">
        <div class="ex-wrap">
            <div class="ex-img" data-aos="fade-up">
                <Image src={chap5AddHeroImg} alt="" />
            </div>
            <div class="ex-content" data-aos="fade-up" data-aos-delay="100">
                <Fragment set:html={chap5AddHeroContent}/>
            </div>
        </div>
        <div class="ex-wrap ex-mb">
            <div class="ex-img" data-aos="fade-up">
                <Fragment set:html={chap5AddHeroContentMB}/>
            </div>
        </div>
    </div>
</section>
<style lang="scss">
    .chap5add-hero {
        padding-top: 7.2rem;
    }
</style>