---
import { Image } from "astro:assets";
import chap2HeroContent from '../../assets/chap2HeroContentEng4.svg?raw';
import chap2HeroImg from '../../assets/chap2HeroImgEng.png';
import chap2HeroContentMB from '../../assets/chap2HeroContentMBEng4.svg';
import chap2HeroImgMB from '../../assets/chap2HeroImgEngMB2.png';
---
<section class="chap2-hero">
    <div class="container">
        <div class="ex-wrap">
            <div class="ex-img" data-aos="fade-up">
                <Image src={chap2HeroImg} alt="" />
            </div>
            <div class="ex-content" data-aos="fade-up" data-aos-delay="200">
                <Fragment set:html={chap2HeroContent}/>
            </div>
        </div>
        <div class="ex-wrap ex-mb">
            <div class="ex-img" data-aos="fade-up">
                <Image src={chap2HeroImgMB} alt="" />
            </div>
            <div class="ex-content" data-aos="fade-up" data-aos-delay="200">
                <Image src={chap2HeroContentMB} alt="" />
            </div>
        </div>

    </div>
</section>
<style lang="scss">
    .chap2-hero {
        padding-top: 7.2rem;
    }
</style>