---
import { Image } from "astro:assets";
import chap10MainImg2 from '../../assets/chap10MainImg2.png';
import chap10MainContent2 from '../../assets/chap10MainContent2.svg';
---
<section class="chap10-main">
    <div class="container">
        <div class="ex-wrap" data-aos="fade-up">
            <div class="ex-img">
                <Image src={chap10MainImg2} alt="" />
            </div>
            <div class="ex-content">
                <Image src={chap10MainContent2} alt="" />
            </div>
        </div>
    </div>
</section>
<style lang="scss">
    .chap10-main {
       
    }
</style>