---
import { Image } from "astro:assets";
import chap3MainImg from '../../assets/chap3MainImgEng.svg?raw';
import chap3MainContentMB from '../../assets/chap3MainImgEngMB.svg';
---
<section class="chap3-main">
    <div class="container">
        <div class="ex-wrap">
            <div class="ex-content">
                <Fragment set:html={chap3MainImg}/>
            </div>
        </div>
        <div class="ex-wrap ex-mb">
            <div class="ex-img" data-aos="fade-up">
                <Image src={chap3MainContentMB} alt="" />
            </div>
        </div>
    </div>
</section>
<style lang="scss">
    .chap3-main {
        
    }
</style>