---
import { Image } from "astro:assets";
import chap3MainContent from '../../assets/chap3MainContent.svg?raw';
import chap3MainContentMB from '../../assets/chap3MainContentMB.svg?raw';
---
<section class="chap3-main">
    <div class="container">
        <div class="ex-wrap">
            <div class="ex-content">
                <Fragment set:html={chap3MainContent}/>
            </div>
        </div>
        <div class="ex-wrap ex-mb">
            <div class="ex-img" data-aos="fade-up">
                <Fragment set:html={chap3MainContentMB}/>
            </div>
        </div>
    </div>
</section>
<style lang="scss">
    .chap3-main {
        
    }
</style>