---
import { Image } from "astro:assets";
import chap10MainImg from '../../assets/chap10MainImgEng.png';
import chap10MainContentMB from '../../assets/chap10MainImgEngMB.png';
---
<section class="chap10-main">
    <div class="container">
        <div class="ex-wrap" data-aos="fade-up">
            <div class="ex-img">
                <Image src={chap10MainImg} alt="" />
            </div>
        </div>
        <div class="ex-wrap ex-mb" data-aos="fade-up">
            <div class="ex-img">
                <Image src={chap10MainContentMB} alt="" />
            </div>
        </div>
    </div>
</section>
<style lang="scss">
    .chap10-main {
       
    }
</style>