---
import { Image } from "astro:assets";
import chap1NetImg from '../../assets/chap1NetImg.png';
import chap1NetContent from '../../assets/chap1NetContent.svg?raw';
---
<section class="chap1-net">
    <div class="container">
        <div class="ex-wrap">
            <div class="ex-img" data-aos="fade-up">
                <Image src={chap1NetImg} alt="" />
            </div>
            <div class="ex-content" data-aos="fade-up">
                <Fragment set:html={chap1NetContent} />
            </div>
        </div>
    </div>
</section>
<style lang="scss">
    .chap1-net {
        background-color: var(--cl-bg);
    }
</style>