---
import { Image } from "astro:assets";
import chap1NetImg5 from '../../assets/chap1NetImg5.png';
import chap1NetContent5 from '../../assets/chap1NetContent5.svg?raw';
import chap1NetContent5MB from '../../assets/chap1NetContent5MB.svg';
---
<section class="chap1-net-2">
    <div class="container">
        <div class="ex-wrap">
            <div class="ex-content">
                <Fragment set:html={chap1NetContent5} />
            </div>
        </div>
        <div class="ex-wrap ex-mb">
            <div class="ex-img" data-aos="fade-up">
                <Image src={chap1NetContent5MB} alt="" />
            </div>
        </div>
    </div>
</section>
<style lang="scss">
    .chap1-net-2 {
        background-color: var(--cl-bg);
    }
</style>