---
import { Image } from "astro:assets";
import chap1HeroImg from '../../assets/chap1HeroImg.png';
import chap1HeroContent from '../../assets/chap1HeroContent1.svg?raw';
import chap1HeroImgMB from '../../assets/chap1HeroImgMB.png';
import chap1HeroContentMB from '../../assets/chap1HeroContentMB.svg';
---
<section class="chap1-hero">
    <div class="container">
        <div class="ex-wrap">
            <div class="ex-img" data-aos="fade-up">
                <Image src={chap1HeroImg} alt="" />
            </div>
            <div class="ex-content" data-aos="fade-up" data-aos-delay="100">
                <Fragment set:html={chap1HeroContent} />
            </div>
        </div>
        <div class="ex-wrap ex-mb">
            <div class="ex-img" data-aos="fade-up">
                <Image src={chap1HeroImgMB} alt="" />
            </div>
            <div class="ex-content" data-aos="fade-up" data-aos-delay="200">
                <Image src={chap1HeroContentMB } alt="" />
            </div>
        </div>
    </div>
</section>
<style lang="scss">
    .chap1-hero {
        padding-top: 7.2rem;
    }
</style>