---
import { Image } from "astro:assets";
import genAwardContent from '../../assets/genAwardContentEng.svg?raw';
import genAwardImgMB from '../../assets/genAwardImgEngMB.svg';
---
<section class="gen-award">
    <div class="container">
        <div class="ex-wrap">
            <div class="ex-content">
                <Fragment set:html={genAwardContent} />
            </div>
        </div>
        <div class="ex-wrap ex-mb">
            <div class="ex-img" data-aos="fade-up">
                <Image src={genAwardImgMB} alt="" />
            </div>
        </div>
    </div>
    
</section>
<style lang="scss">
    .gen-award {
        background-color: var(--cl-bg);
    }
</style>