---
import { Image } from "astro:assets";
import homeHeroBg from '../../assets/home-hero-bg.jpg';
import homeHeroBgMb from '../../assets/mb-home-hero-bg.jpg';
import homeHeroVid from '/video/home.mp4';
---
<section class="home-hero">
    <div class="container">
        <div class="home-hero-content">
            <h1 class="heading txt-145 txt-up txt-bold home-hero-title" data-aos="fade-up">
                Để tâm hành động
            </h1>
            <div class="txt txt-48 txt-med home-hero-sub" data-aos="fade-up" data-aos-delay="200">
                Net Zero 2050
            </div>
            <div class="home-hero-btn-wrap" data-aos="fade-up" data-aos-delay="300">
                <a href="https://www.vinamilk.com.vn/static/uploads/article/1713846678-f9f0dfe94e842338f4829a24fb50fa6508d19ea1bdb61e04c753200b57368d54.pdf" target="_blank" class="btn home-hero-btn">
                    <span class="txt txt-16 txt-med">
                        Báo cáo Phát triển Bền Vững 2023
                    </span>
                </a>    
            </div>
        </div>
    </div>
    <div class="home-hero-img-wrap" data-aos="fade-up">
        <video src={homeHeroVid} autoplay muted playsinline class="vid-fill img-dk"></video>
        <Image src={homeHeroBg} loading="eager" alt="" class="img-fill img-dk"/>
        <Image src={homeHeroBgMb} loading="eager" alt="" class="img-fill img-mb"/>
    </div>
</section>
<style lang="scss">
    .home-hero {
        padding-top: 7.2rem;
        position: relative;
        height: 100vh;
        .container {
            position: relative;
            z-index: 2;
            height: 100%;
        }
        &-content {
            padding-bottom: 20vh;
            height: 100%;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            text-align: center;
            @media screen and (max-width: 767px) {
                justify-content: start;
                padding-bottom: 0;
                padding-top: 6rem;
            }
        }
        &-title {
            color: var(--cl-bg);
            line-height: 13.6rem;
            margin-bottom: 2rem;
            @media screen and (max-width: 767px) {
                font-size: 7.2rem;
                line-height: 6.4rem;
                margin-bottom: 1.4rem;
                max-width: 24.7rem;
            }
        }
        &-sub {
            color: var(--cl-onion);
            line-height: 3.2rem;
            margin-bottom: 2rem;
            @media screen and (max-width: 767px) {
                font-size: 3.2rem;
                line-height: 2.2rem;
                margin-bottom: 1.4rem;
            }
        }
        &-btn {
            padding-block: 1.6rem;
            padding-inline: 4.8rem;
            border-radius: 99rem;
            @media screen and (max-width: 767px) {
                padding-block: 1.1rem;
                padding-inline: 3.3rem;
            }
            .txt {
                line-height: 2.4rem;
                @media screen and (max-width: 767px) {
                    line-height: 1.7rem;
                }
            }
        }
        &-img-wrap {
            position: absolute;
            inset: 0;
            z-index: 1;
            .vid-fill {
                width: 100%;
                height: 100%;
                object-fit: cover;
            }
            .img-dk {
                @media screen and (max-width: 767px) {
                    display: none;
                }
            }
            .img-mb {
                display: none;
                @media screen and (max-width: 767px) {
                    display: block;
                }
            }
        }
    }
</style>