@font-face {
    font-family: 'VNM Sans Display';
    src: url('/fonts/VNMSans-Display-Regular.otf');
    font-weight: 400;
    font-display: swap;
}
@font-face {
    font-family: 'VNM Sans Display';
    src: url('/fonts/VNMSans-Display-Medium.otf');
    font-weight: 500;
    font-display: swap;
}
@font-face {
    font-family: 'VNM Sans Display';
    src: url('/fonts/VNMSans-Display-Bold.otf');
    font-weight: 700;
    font-display: swap;
}
@font-face {
    font-family: 'VNM Sans Std';
    src: url('/fonts/VNMSansStd-Regular.otf');
    font-weight: 400;
    font-display: swap;
}
@font-face {
    font-family: 'VNM Sans Std';
    src: url('/fonts/VNMSansStd-Medium.otf');
    font-weight: 500;
    font-display: swap;
}
@font-face {
    font-family: 'VNM Sans Std';
    src: url('/fonts/VNMSansStd-Bold.otf');
    font-weight: 700;
    font-display: swap;
}
@font-face {
    font-family: 'Inter';
    src: url('/fonts/Inter-Regular.ttf');
    font-weight: 400;
    font-display: swap;
}
@font-face {
    font-family: 'Inter';
    src: url('/fonts/Inter-Bold.ttf');
    font-weight: 700;
    font-display: swap;
}