---
---
<div class="nav-btn-wrap nav-btn-wrap-center">
    <div class="container" data-aos="fade-up">
        <a href={Astro.props.link} class="btn btn-blue btn-right">
            <div class="txt txt-16 txt-med">{Astro.props.text}</div>
            <div class="ic ic-24">
                <svg width="100%" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M9 18L15 12L9 6" stroke="currentColor" stroke-width="1.7" stroke-linecap="round" stroke-linejoin="round"/>
                </svg>                            
            </div>
        </a>
    </div>
</div>
<style lang="scss">
    .nav-btn-wrap-center {
        background-color: var(--cl-blue);
        @media screen and (max-width: 767px) {
            background-color: var(--cl-bg);
        }
        .container {
            display: flex;
            justify-content: center;
            align-items: center;
            padding-block: 9rem;
            @media screen and (max-width: 767px) {
                padding-block: 3.2rem;
            }
        }
        .btn {
            padding-block: 1.6rem;
            padding-inline: 4.8rem;
            border-radius: 99rem;
            background-color: var(--cl-bg);
            color: var(--cl-blue);
            @media screen and (max-width: 767px) {
                background-color: var(--cl-blue);
                color: var(--cl-bg);
                text-align: center;
            }
            @media screen and (min-width: 767px) {
                &:hover {
                    background-color: transparent;
                    color: var(--cl-bg);
                    border-color: var(--cl-bg);
                }
                box-shadow: 1rem 1rem 2.6rem 0 rgba(0,0,0,.32);
            }
        }
    }
</style>