---
import { Image } from "astro:assets";
import chap4HeroImg from '../../assets/chap4HeroImgEng.png';
import chap4HeroContentMB from '../../assets/chap4HeroImgEngMB.png';
---
<section class="chap4-hero">
    <div class="container">
        <div class="ex-wrap">
            <div class="ex-img" data-aos="fade-up">
                <Image src={chap4HeroImg} alt="" />
            </div>
        </div>
        <div class="ex-wrap ex-mb">
            <div class="ex-img" data-aos="fade-up">
                <Image src={chap4HeroContentMB} alt="" />
            </div>
        </div>
    </div>
</section>
<style lang="scss">
    .chap4-hero {
        padding-top: 7.2rem;
    }
</style>