---
import { Image } from "astro:assets";
import appHeroImg from '../../assets/appHeroImg.png';
import appHeroContent from '../../assets/appHeroContent.svg';
---
<section class="app-hero">
    <div class="container">
        <div class="ex-wrap">
            <div class="ex-img" data-aos="fade-up">
                <Image src={appHeroImg} alt="" />
            </div>
            <div class="ex-content" data-aos="fade-up" data-aos-delay="200">
                <Image src={appHeroContent} alt="" />
            </div>
        </div>
    </div>
</section>
<style lang="scss">
    .app-hero {
        padding-top: 7.2rem;
        
    }
</style>