---
import { Image } from "astro:assets";
import chap9HeroImg from '../../assets/chap9HeroImg.png';
import chap9HeroContent from '../../assets/chap9HeroContent.svg';
---
<section class="chap9-hero">
    <div class="container">
        <div class="ex-wrap">
            <div class="ex-img" data-aos="fade-up">
                <Image src={chap9HeroImg} alt="" />
            </div>
            <div class="ex-content" data-aos="fade-up" data-aos-delay="200">
                <Image src={chap9HeroContent} alt="" />
            </div>
        </div>
    </div>
</section>
<style lang="scss">
    .chap9-hero {
        padding-top: 7.2rem;
    }
</style>