---
import { Image } from "astro:assets";
import chap8HeroImg from '../../assets/chap8HeroImg.png';
import chap8HeroContent from '../../assets/chap8HeroContentEng.svg?raw';
import chap8HeroContentMB from '../../assets/chap8HeroImgEngMB.png';
---
<section class="chap8-hero">
    <div class="container">
        <div class="ex-wrap">
            <div class="ex-img" data-aos="fade-up">
                <Image src={chap8HeroImg} alt="" />
            </div>
            <div class="ex-content" data-aos="fade-up" data-aos-delay="200">
                <Fragment set:html={chap8HeroContent}/>
            </div>
        </div>
        <div class="ex-wrap ex-mb">
            <div class="ex-img" data-aos="fade-up">
                <Image src={chap8HeroContentMB} alt="" />
            </div>
        </div>
    </div>
</section>
<style lang="scss">
    .chap8-hero {
        padding-top: 7.2rem;
    }
</style>