---
import { Image } from "astro:assets";
import chap1Author from '../../assets/chap1Author.png';
---
<section class="mess-hero">
    <div class="container grid">
        <div class="mess-hero-author">
            <div class="img-wrap" data-aos="fade-up">
                <Image src={chap1Author} alt="" />
            </div>
            <div class="heading txt-68 txt-bold title" data-aos="fade-up" data-aos-delay="200">
                Bà Mai Kiều Liên
            </div>
            <div class="txt txt-28 txt-med sub" data-aos="fade-up" data-aos-delay="300">
                Tổng Giám Đốc
            </div>
        </div>
        <div class="mess-hero-content" data-aos="fade-up">
            <h1 class="heading txt-72 txt-bold title" >
                THÔNG ĐIỆP TỔNG GIÁM ĐỐC
            </h1>
            <div class="richtext">
                <p class="txt txt-16 txt-inter">
                    Năm 2023 đánh dấu một cột mốc quan trọng trong hành trình phát triển bền vững của Vinamilk. Với việc tái định vị thương hiệu và sứ mệnh nâng cao chất lượng cuộc sống cho mọi người mọi nhà thông qua những sản phẩm thực phẩm tốt nhất, Vinamilk không chỉ khẳng định vị thế là doanh nghiệp hàng đầu trong lĩnh vực sản xuất sữa và các sản phẩm từ sữa mà còn thúc đẩy cam kết và hành động đối với phát triển bền vững ngày càng sâu và rộng hơn. Vinamilk hiện là thương hiệu có tính bền vững cao nhất tại Việt Nam và Top 5 thế giới trong ngành sữa (theo Brand Finance). Chúng tôi nhận thức rõ ràng thách thức về biến đổi khí hậu và sự cạn kiệt tài nguyên thiên nhiên đang đe dọa tương lai của chúng ta. Vì vậy, chúng tôi đã đặt ra mục tiêu và hành động cụ thể để giảm thiểu tác động của hoạt động chuỗi giá trị lên môi trường và xã hội.
                </p>
                <p class="txt txt-16 txt-inter">
                    <span class="txt-bold txt-blue">Thứ nhất</span>, Vinamilk là đơn vị đầu tiên của Việt Nam chủ động đăng ký tham gia sáng kiến toàn cầu ngành sữa về Net-Zero. Năm 2023 đánh dấu một cột mốc đáng ghi nhận khi có 2 đơn vị đầu tiên của Vinamilk đạt chứng nhận trung hòa carbon, đó là Nhà máy Sữa Nghệ An và Trang trại Sữa Nghệ An. Điểm nhấn quan trọng trong hành trình phát triển bền vững của Vinamilk là công bố các mục tiêu ngắn hạn và dài hạn hướng tới Vinamilk Pathways to Dairy Net Zero 2050. Theo đó, chúng tôi cam kết sử dụng năng lượng tái tạo và giảm thiểu lượng khí thải trong quá trình sản xuất. 100% các nhà máy và trang trại được kiểm kê khí nhà kính theo chuẩn ISO 14064. Chúng tôi đang triển khai các dự án năng lượng mặt trời và sử dụng công nghệ tiết kiệm năng lượng tại các nhà máy và trang trại. Đồng thời, chúng tôi sẽ đẩy mạnh nghiên cứu và đổi mới sáng tạo để phát triển các sản phẩm có dấu chân carbon thấp hơn. Chúng tôi tích cực trồng rừng và hợp tác trong các dự án tái tạo rừng. Một trong những dự án tiêu biểu là việc trồng cánh rừng Net-Zero của Vinamilk. Việc trồng cây không chỉ mang lại lợi ích cho môi trường như hấp thụ CO2, cung cấp oxy, giảm nhiệt độ môi trường, mà còn góp phần vào việc tạo ra một trong hoạt động kinh doanh của chúng tôi.
                </p>
                <p class="txt txt-16 txt-inter">
                    <span class="txt-bold txt-blue">Thứ hai</span>, chúng tôi tập trung vào việc phát triển nông nghiệp bền vững tại tất cả các trang trại của Vinamilk, nơi mà 100% trang trại đều đạt chuẩn GlobalG.A.P. Đây không chỉ là nơi chúng tôi nuôi dưỡng nguồn nguyên liệu sữa chất lượng cao mà còn là minh chứng cho cam kết của Vinamilk với môi trường, chất lượng và dinh dưỡng đất, phúc lợi động vật và đa dạng sinh học. Chúng tôi song song sẻ chia giá trị, hỗ trợ các nông hộ bằng cách cam kết thu mua toàn bộ sữa tươi với giá cả ổn định và cạnh tranh, ký kết hợp đồng với các điều khoản rõ ràng, minh bạch. Mỗi một nhà nông khi tham gia vào chuỗi liên kết với Vinamilk đều được tư vấn, chuyển giao kỹ thuật chăn nuôi để chăm sóc từ con giống đến đầu ra, nhằm nâng cao sản lượng, chất lượng và giá để thu nhập, đảm bảo phát triển kinh tế đi đôi với bảo vệ môi trường.
                </p>
                <p class="txt txt-16 txt-inter">
                    <span class="txt-bold txt-blue">Thứ ba</span>, chúng tôi chú trọng vào việc quản lý chất thải và tái chế. Chúng tôi đang không ngừng triển khai nhiều hoạt động để chuyển sang kinh tế tuần hoàn, trong đó nỗ lực nghiên cứu chuyển hóa chất thải thành tài nguyên. Ngoài ra, chúng tôi cũng tận dụng các nguồn nguyên liệu thân thiện với môi trường trong sản xuất để hạn chế tác động đến tài nguyên thiên nhiên.
                </p>
                <p class="txt txt-16 txt-inter">
                    <span class="txt-bold txt-blue">Cuối cùng</span>, chúng tôi đặt trái tim vào trách nhiệm đối với cộng đồng và xã hội. Mỗi nơi Vinamilk đặt chân đến, chúng tôi không chỉ tạo việc làm, nâng cao chất lượng nguồn lực lao động, phát triển kinh tế địa phương mà còn triển khai nhiều chương trình giáo dục và hỗ trợ cộng đồng, nhằm nâng cao nhận thức về dinh dưỡng, phát triển bền vững và cải thiện đời sống cho mọi người, đặc biệt là cho những người có hoàn cảnh khó khăn. Một trong những chương trình nổi bật mà Vinamilk kiên trì ấp ủ là “Quỹ sữa vươn cao Việt Nam” - hành trình 16 năm qua với mục tiêu để mọi trẻ em đều có cơ hội được uống sữa mỗi ngày. Các chương trình này không chỉ đóng góp vào sự phát triển của thế hệ trẻ mà còn thể hiện cam kết xây dựng một xã hội bền vững trong tương lai.
                </p>
                <p class="txt txt-16 txt-inter">
                    Tất cả đều thể hiện thông điệp Chúng tôi thật sự quan tâm và Chúng tôi hành động quyết liệt để hướng đến một tương lai thịnh vượng. Chúng tôi nhận thức rằng hành trình phát triển bền vững là một quá trình liên tục và đòi hỏi sự nỗ lực không ngừng. Vì vậy, chúng tôi mời gọi sự hợp tác và hỗ trợ từ tất cả các bên liên quan, bao gồm nhà cung cấp, đối tác, khách hàng và cộng đồng. Chỉ khi chúng ta chung tay, chúng ta mới có thể tạo ra một tương lai bền vững cho chính chúng ta và cho thế hệ mai sau.
                </p>
            </div>
        </div>
        <div class="nav-btn-wrap" data-aos="fade-up" data-aos-delay="200">
            <a href="../general" class="btn btn-blue btn-right">
                <div class="txt txt-16 txt-med">Thông tin chung</div>
                <div class="ic ic-24">
                    <svg width="100%" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M9 18L15 12L9 6" stroke="currentColor" stroke-width="1.7" stroke-linecap="round" stroke-linejoin="round"/>
                    </svg>                            
                </div>
            </a>
        </div>
    </div>
</section>
<style lang="scss">
    .mess-hero {
        &-author {
            padding-block: 21.8rem 7rem;
            grid-column: 1/11;
            grid-row: 1/3;
            max-width: 49.8rem;
            display: flex;
            flex-direction: column;
            align-items: center;
            color: var(--cl-blue);
            text-align: center;
            .img-wrap {
                margin-bottom: 2.2rem;
            }
        }
        &-content {
            padding-block: 17rem 0;
            grid-column: 12/24;
            grid-row: 1/2;
            margin-left: 2.7rem;
            border-bottom: solid 1px blue;
            .title {
                color: var(--cl-blue);
                margin-bottom: .6rem;
                line-height: 10.5rem;
            }
            .richtext {
                display: flex;
                flex-direction: column;
                row-gap: 2.2rem;
                height: 48.8rem;
                overflow-y: auto;
                padding-bottom: 2rem;
                p {
                    line-height: 1.4em;
                }
            }
        }
        .nav-btn-wrap {
            grid-column: 12/25;
            grid-row: 2/3;
            display: flex;
            justify-content: end;
            padding-block: 5rem;
            .btn {
                padding-block: 1.6rem;
                padding-inline: 4.8rem;
                border-radius: 99rem;
            }
        }
    }
</style>